.contenu-carousel {
  margin-top: calc((93vh - clamp(252px, 50vh, 380px) - 180px) / 2);
  width: clamp(252px, 50vh, 375px);
  height: clamp(252px, 50vh, 375px);
  position: relative;
  perspective: 95vw;
}

.images-carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carouselImg {
  border-radius: 50%;
  border: 1px solid #ffd369;
}

.images-carousel div {
  backface-visibility: hidden;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.6);
  position: absolute;
  width: clamp(252px, 50vh, 375px);
  height: clamp(252px, 50vh, 375px);
  border-radius: 50%;
  outline: 1px solid transparent;
}

.carouselImg {
  animation: carousel-animate 24s infinite;
  visibility: hidden;
}

.images-carousel div:nth-child(1) {
  animation-delay: 0s;
}

.images-carousel div:nth-child(2) {
  animation-delay: -4s;
}

.images-carousel div:nth-child(3) {
  animation-delay: -8s;
}

.images-carousel div:nth-child(4) {
  animation-delay: -12s;
}

.images-carousel div:nth-child(5) {
  animation-delay: -16s;
}

.images-carousel div:nth-child(6) {
  animation-delay: -20s;
}

@keyframes carousel-animate {
  0% {
    display: initial;
    transform: translateX(100%) scale(0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 0;
  }

  2.5% {
    transform: translateX(100%) scale(0.3);
    opacity: 0.2;
    visibility: visible;
    z-index: 1;
  }

  12% {
    transform: translateX(100%) scale(0.5);
    opacity: 0.4;
    visibility: visible;
    z-index: 2;
  }

  30% {
    transform: translateX(70%) scale(0.7);
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }

  45% {
    transform: translateX(0) scale(1);
    opacity: 1;
    visibility: visible;
    z-index: 4;
  }

  60% {
    transform: translateX(-70%) scale(0.7);
    opacity: 1;
    visibility: visible;
    z-index: 3;
  }

  75% {
    transform: translateX(-100%) scale(0.5);
    opacity: 0.4;
    visibility: visible;
    z-index: 2;
  }

  95% {
    transform: translateX(-100%) scale(0.3);
    opacity: 0;
    visibility: visible;
    z-index: 1;
  }

  100% {
    transform: translateX(-100%) scale(0.3);
    opacity: 0;
    visibility: hidden;
  }
}
