@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&display=swap%27");

.formContainer {
  background: linear-gradient(
      0deg,
      rgba(15, 15, 10, 0) 0%,
      rgba(19, 19, 20, 0.8848272585401348) 100%,
      rgba(129, 128, 89, 0.5935107319294906) 100%
    ),
    url("../../assets/img/boisNoir.jpg") center;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin: 5% 10% 0 10%;
  border-radius: 0 30px 0 30px;
  padding: 8%;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #ffd369;
}

.formId {
  display: flex;
  flex-direction: row;
  gap: 10%;
  width: 100%;
}

#Nom,
#Prénom {
  background-color: #eeeeee;
  width: 100%;
  border-radius: 0 6px 0 6px;
  padding: 3%;
  font-family: "Alice", serif;
  border: 1px solid #ffd369;
  height: 40px;
}

.formMail {
  background-color: #eeeeee;
  border-radius: 0 6px 0 6px;
  padding: 3%;
  width: 100%;
  font-family: "Alice", serif;
  border: 1px solid #ffd369;
  height: 40px;
}

.formMessage {
  background-color: #eeeeee;
  border-radius: 0 6px 0 6px;
  padding: 3%;
  height: 100px;
  width: 100%;
  font-family: "Alice", serif;
  border: 1px solid #ffd369;
  resize: none;
}

.formButton {
  background-color: #eeeeee;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  font-family: "Alice", serif;
  align-self: center;
}

@media screen and (min-width: 700px) {
  .formGlobal {
    width: 70%;
    max-width: 800px;
    height: auto;
    margin: auto;
  }

  .formId {
    display: flex;
    justify-content: space-between;
  }

  .formId label {
    width: 45%;
  }

  #Nom,
  #Prénom {
    width: 100%;
  }

  .formMessage {
    height: 190px;
  }

  .formButton {
    border-radius: 5px;
    font-size: 120%;
    margin: 5%;
    padding: 2%;
  }
}
