* {
  padding: 0;
  margin: 0;
}

p {
  color: aqua;
}

.mapfromage {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: center;
  margin: 10%;
}

.carte {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 20px;
  transition: 1s;
  transform-style: preserve-3d;
  z-index: 0;
}

.carte.is-flipped1 {
  transform: rotateY(180deg) scale(1.3);
  position: relative;
  z-index: 1;
}

.carte__face {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 40px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.carte__face:hover {
  font-family: "Playfair Display";
  box-shadow: 7px 5px 6px 3px rgba(0, 0, 0, 0.61);
  border-radius: 17px;
  transition: 0.3s;
}

.carte__face--front {
  background-color: rgb(0, 0, 0);
  background-size: 100%;
}

.carte__face--back {
  background: brown;
  transform: rotateY(180deg);
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}