* {
  margin: 0;
  padding: 0;
}
.Head {
  background-image: url("thumb-1920-286338.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
