@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&display=swap%27");

.texthome {
  color: #ffc83c;
  font-family: "Cinzel", serif;
  font-size: clamp(1.5rem, 8vw, 3.5rem);
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px 1px 1px #212121;
}

.character {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  margin: 5% 10%;
  border-radius: 0 30px 0 30px;
  border: 1px solid #ffd369;
  font-family: "Alice", serif;
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
}

.image {
  width: 12%;
  border-radius: 50%;
  border: 2px solid #ffd369;
  margin: 4% 4% 1%;
}

.name {
  left: 25%;
  margin: 2% 5% 0% 12%;
  color: #ffd369;
  position: absolute;
  font-size: 130%;
}

.description {
  color: #eeeeee;
  text-align: center;
  font-size: 55%;
  margin: 0 auto 3%;
  width: 80%;
}

.textcontact {
  text-align: center;
  margin: 2% 5% 0 5%;
  font-family: "Alice", serif;
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .staff {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 2%;
    justify-content: center;
  }

  .character {
    width: 47%;
    margin: 1%;
    font-size: 120%;
    height: 450px;
    padding: 1%;
  }

  .image {
    width: 135px;
    height: 135px;
    margin: auto;
  }

  .name {
    position: relative;
    left: 0;
    text-align: center;
    margin: 0% 5% 2% 5%;
    border-radius: 5px;
    padding: 2%;
    text-shadow: 1px 1px 1px #212121;
    font-size: 120%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 70%;
    border-radius: 5px;
    margin: 4% 5% 10% 5%;
    color: #eeeeee;
    height: 17%;
    padding: 0% 2% 0% 2%;
  }
}

@media screen and (min-width: 800px) {
  .texthome {
    margin: 8%;
  }

  .staff {
    display: flex;
    flex-direction: row;
  }

  .character {
    width: 100%;
    margin: 1%;
    font-size: 140%;
    height: 400px;
    padding: 1%;
  }

  .image {
    width: 135px;
    height: 135px;
    margin: 2% auto;
  }

  .name {
    position: relative;
    left: 0;
    text-align: center;
    margin: 2%;
    border-radius: 5px;
    padding: 2%;
    text-shadow: 1px 1px 1px #212121;
    font-size: 110%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description {
    font-size: 70%;
    border-radius: 5px;
    margin: 2% auto;
    color: #eeeeee;
    height: 17%;
    padding: 5% 2% 4% 2%;
  }

  .texthome {
    margin: 4vh auto;
  }

  .textcontact {
    font-size: 120%;
    margin-bottom: 2%;
  }
}
