@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&family=Cinzel&display=swap%27");

.header {
  background-color: #212121;
  color: #ffd369;
  text-align: center;
  font-family: "Cinzel", serif;
}

.texthome {
  color: #ffd369;
  font-family: "Playfair Display", serif;
  font-size: 200%;
  text-align: center;
  margin: 6% 0 6% 0;
  -webkit-text-stroke: 0.2px #212121;
  text-shadow: 0.1em 0.1em 0.2em #212121;
}

.character {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  margin: 15% 10% 10% 10%;
  border-radius: 0 30px 0 30px;
  border: 1px solid #ffd369;
  font-family: "Alice", serif;
  -webkit-box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.image {
  width: 20%;
  height: 40%;
  border-radius: 50%;
  border: 2px solid #ffd369;
  margin: 4%;
}

.name {
  left: 25%;
  margin: 5% 0 0 10%;
  color: #ffd369;
  position: absolute;
  font-size: 130%;
}

.decription {
  color: #ffd369;
  text-align: center;
  font-size: 90%;
  margin-bottom: 10%;
}

.textcontact {
  text-align: center;
  margin: 2% 5% 0 5%;
  font-family: "Alice", serif;
}
