* {
  padding: 0;
  margin: 0;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  display: flex;
}

.card.is-flipped {
  transform: rotateY(180deg) scale(0.5);
  position: fixed;
  top: 10%;
  bottom: 5%;
  z-index: 1;
  right: 3%;
}

.card__face {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front:hover {
  font-family: "Playfair Display";
  box-shadow: 7px 5px 6px 3px rgba(0, 0, 0, 0.61);
  border-radius: 17px;
  transition: 0.3s;
}

.card__face--front .RecipeName:hover {
  opacity: 1;
  transition: 0.3s;
}

.card__face--front {
  display: flex;
  justify-content: center;
  background-size: 100%;
  position: relative;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 20px 2px 20px 2px;
}

.card__face--front .RecipeName {
  font-size: 28px;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  text-align: center;
  font-family: "Playfair Display";
  margin: 0 auto;
  left: 0;
  right: 0;
  padding-top: 10%;
  color: white;
  opacity: 0;
  text-shadow: 5px 1px 3px black;
}

.card__face--back {
  /*background-image: url("../src/assets/test_carte_recette.png");*/
  transform: rotateY(180deg);
  background-color: #212121;
  position: absolute;
  top: 10;
  bottom: 0;

  padding: 2%;
  border: 4px solid #ffd369;

  border-radius: 40px 2px 40px 2px;
  width: 1224px;
  height: 1064px;
  margin-left: 300px;
}

.Rcards {
  width: 200px;
  height: 250px;
}

.CtRecette {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

#CtReverse {
  gap: 60px;
  margin-right: 5px;
  margin-right: -500px;
  margin-top: 200px;
  width: 50%;
  font-family: "Playfair Display";
  padding-bottom: 20px;
  position: relative;
}

.CtBack {
  font-size: 48px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.PhRecette {
  height: 100%;
}

.PhRecetteBack {
  display: flex;
  width: 40%;
  margin-left: 100px;
  height: 447px;

  margin-right: 40px;
  float: right;
}

#Charact1 {
  font-family: "Playfair Display";
  font-size: 78px;
  color: #ffd369;
  text-align: center;
  width: 1000px;
  display: flex;
}

.liensRecipe {
  text-decoration: none;
  color: #212121;
}

.liensRecipe:hover {
  color: #ffd369;
  -webkit-text-stroke: 2px #212121;
}

#Charact2 {
  margin-left: 50px;
  font-family: "Playfair Display";
  height: 190px;
  border-radius: 2px 20px 2px 20px;
  justify-content: center;
  background-color: #d9d9d9;
  color: #212121;
  margin-bottom: 40px;
  margin-top: 100px;
}

#Charact3 {
  margin-left: 50px;
  font-family: "Playfair Display";
  height: 62px;
  border-radius: 20px 2px 20px 2px;

  background-color: #d9d9d9;
  color: #212121;
  margin-bottom: 40px;
}

#Charact4 {
  margin-top: 100px;
  font-family: "Playfair Display";
  border-radius: 2px 20px 2px 20px;
  height: 100%;
  background-color: #d9d9d9;
  margin-right: 100px;
  color: #212121;
  font-size: 350;
  margin-left: 100px;
}

.Rname {
  font-family: "Playfair Display";
}

@media screen and (max-width: 800px) {
  .PhRecetteBack {
    margin-right: 10%;
    margin-top: -400px;
    position: relative;
    width: 80%;
    box-shadow: 1px 1px 8px 7px rgba(0, 0, 0, 0.69);
  }

  #Charact1 {
    visibility: hidden;
  }

  #Charact4 {
    font-size: 55px;
    margin-top: 10%;

    margin-left: 10%;
    margin-right: 10%;
  }

  #Charact2 {
    margin-top: 20%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 55px;
  }

  #Charact3 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }

  .card__face--front .RecipeName {
    font-size: 30px;
    top: 10%;
  }

  .card__face--back {
    margin-left: -150px;
    width: 900px;
    height: 1400px;
    top: -350px;
  }

  .liensRecipe {
    font-size: 50px;
  }
}
